<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Menu com Submenus</title>
</head>

<body class="bg-gray-100">

  <!-- Container principal -->
<div class="flex h-screen bg-gray-200" x-data="{ currentComponent: 'dashboard', listaCategoriaContent: 'listacategoria' }">
 
    <!-- Menu lateral -->
    <aside class="w-64 bg-gray-800 text-white">
      <div class="p-4 flex items-center">
        <!-- Ícone SVG no título -->
        <svg class="h-6 w-6 text-white mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 21h18M3 10h18M3 14h18M3 6h18"></path>
        </svg>
        <h1 class="text-2xl font-semibold">Painel</h1>
      </div>

      <!-- Item do menu com submenu -->
      <div x-data="{ open: false }" class="group">
        <button @click="open = !open"
                class="w-full flex items-center p-3 text-sm font-medium hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
               
          
          <span>Dashboard</span>
          <svg x-show="!open" class="ml-auto h-4 w-4 transform group-hover:opacity-0 transition-opacity"
               fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
          </svg>
          <svg x-show="open" class="ml-auto h-4 w-4 transform group-hover:opacity-0 transition-opacity"
               fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 15l7-7 7 7"></path>
          </svg>
        </button>

        <!-- Submenu -->
        <div x-show="open" class="pl-4">
          <a href="#" class="block p-2 flex items-center text-sm text-gray-300 hover:bg-gray-700">
            <svg class="h-4 w-4 text-gray-300 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 9l6 6 6-6"></path>
            </svg>
            Submenu Item 1
          </a>
          <a href="#" class="block p-2 flex items-center text-sm text-gray-300 hover:bg-gray-700">
            <svg class="h-4 w-4 text-gray-300 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 9l6 6 6-6"></path>
            </svg>
            Submenu Item 2
          </a>
          <a href="#" class="block p-2 flex items-center text-sm text-gray-300 hover:bg-gray-700">
            <svg class="h-4 w-4 text-gray-300 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 9l6 6 6-6"></path>
            </svg>
            Submenu Item 3
          </a>
        </div>
      </div>

      <!-- Item do menu com submenu -->
      <div x-data="{ open: false }" class="group">
        <button @click="open = !open"
                class="w-full flex items-center p-3 text-sm font-medium hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
          <span>Categoria</span>
          <svg x-show="!open" class="ml-auto h-4 w-4 transform group-hover:opacity-0 transition-opacity"
              fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
          </svg>
          <svg x-show="open" class="ml-auto h-4 w-4 transform group-hover:opacity-0 transition-opacity"
              fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 15l7-7 7 7"></path>
          </svg>
        </button>

        <!-- Submenu -->
        <div x-show="open" class="pl-4">
          <a href="{{ url_for('rotas_app.listacategoria') }}" class="block p-2 flex items-center text-sm text-gray-300 hover:bg-gray-700" @click.prevent="loadCategoriaContent">
            <svg class="h-4 w-4 text-gray-300 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 9l6 6 6-6"></path>
            </svg>
            Lista Categoria
          </a>
          <a href="{{ url_for('rotas_app.new_categoria') }}" class="block p-2 flex items-center text-sm text-gray-300 hover:bg-gray-700" @click="currentComponent = 'novaCategoria'">
            <svg class="h-4 w-4 text-gray-300 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 9l6 6 6-6"></path>
            </svg>
            Nova Categoria
          </a>
        </div>
      </div>

      <!-- Outros itens do menu -->
      <a href="#" class="block p-3 flex items-center text-sm font-medium hover:bg-gray-700">
        <svg class="h-5 w-5 text-gray-300 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg>
        Item 1
      </a>
      <a href="#" class="block p-3 flex items-center text-sm font-medium hover:bg-gray-700">
        <svg class="h-5 w-5 text-gray-300 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg>
        Item 2
      </a>
      <a href="#" class="block p-3 flex items-center text-sm font-medium hover:bg-gray-700">
        <svg class="h-5 w-5 text-gray-300 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg>
        Item 3
      </a>
    </aside>

   
    <!-- Componente Lista Categoria -->
    <div x-show="currentComponent === 'listacategoria'">
      <h2 class="text-2xl font-semibold mb-4">Conteúdo Principal - Lista Categoria</h2>
      <!-- Conteúdo da lista de categorias aqui -->
      <div x-html="listaCategoriaContent">teste</div>
    </div>
  </div>

  <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Adicione a função loadCategoriaContent ao escopo do Alpine
        Alpine.store('loadCategoriaContent', function () {
          console.log('Categoria Content Loaded!');
        });
    
        const listaCategoriaLink = document.querySelector('.menu-link-categoria');
    
        listaCategoriaLink.addEventListener('click', function (event) {
          event.preventDefault();
    
          // Use o método Alpine para atualizar o componente atual para 'listacategoria'
          Alpine.store('currentComponent', 'listacategoria');
    
          // Faça a requisição para obter o conteúdo da lista de categorias
          fetch(this.getAttribute('href'))
            .then(response => response.text())
            .then(html => {
              // Use o método Alpine para atualizar o conteúdo do componente 'listacategoria'
              Alpine.store('listaCategoriaContent', html);
    
              // Oculte outros componentes se necessário
              Alpine.store('dashboardContent', ''); // Adicione isso se houver um componente dashboard
              Alpine.store('novaCategoriaContent', ''); // Adicione isso se houver um componente novaCategoria
            })
            .catch(error => {
              console.error('Erro ao carregar conteúdo da categoria:', error);
            });
        });
      });
    </script>
  
  
  
  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
</body>

</html>
